html, body {
	height: 100%;
}

body {
	font-size: 80%;
	background: #fff url(../img/bg-headmast.jpg) repeat-x left 50px;
	margin: 0 auto;
	color: #666;
	font-family: TitilliumRegular, sans-serif;
}

nav {
	display: block;
	background-color: #3479ba;
}

nav ul {
	width: 1200px;
	margin: 0 auto;
	height: 30px;
}

#outerwrap {
	min-height: 100%;
	position: relative;
	padding-top: 1px;
	box-sizing: border-box;
}

footer {
	position: absolute;
	height: 100px;
	bottom: 0;
	width: 100%;
	border-top: 1px solid rgb(207, 213, 214);
	background-color: rgb(220, 225, 226);
}

.footercontent {
	margin: 15px auto 10px;
	width: 1200px;
	font-size: 90%;
}

.footerdetails {
	float: left; 
	width: 300px;
}

#headmast {
		width: 1200px;
		margin: 49px auto 0;
		height: 300px;
		position: relative;
	}
	
.title {
	position: absolute;
	right: 0;
	top: -50px;
	width: 305px;
}
	
	
nav a {
	display: block;
	float: left;
	text-decoration: none;
	width: 8.5%;	
	position: relative;
	padding: 6px 0.3% 0 0.3%;
	height: 24px;
	font-family: TitilliumRegular;
	font-size: 130%;
	transition: background-color 1s ease;
	text-align: center;
	color: #fff;
}

nav .large {
	width: 14.3%;
}
	
nav a span {
	display: block;
	line-height: 0;
	font-size: 1px;
	bottom: -4px;
	left: 0;
	position: absolute;
		border-top: 1px solid #fff;
	height: 3px;
	background-color: rgb(148, 192, 26);
	width: 0;
	transition: width 0.5s ease;
}

nav a:hover {
	background-color: rgb(42, 95, 145);
	text-decoration: none;
}
	
nav a:hover span {
	width: 100%;
}

nav li.active a {
	background-color: rgb(148, 192, 26);
}
nav li.active a span {
	background-color: rgb(19, 113, 185);
	width: 100%;
	transition: none;
}

#wrap {
	padding-bottom: 110px;
}

#main {
	width: 1200px;
	margin: 50px auto;
}

#sidebar {
	float: right;
	width: 280px;
	margin-right: 15px;
}

#content {
	float: left;
	width: 855px;
	font-size: 160%;
	font-family: TitilliumRegular, sans-serif;
}

#content h1 {
	font-size: 150%;
	font-family: TitilliumRegular;
	color: rgb(19, 113, 185);
	font-weight: normal;
	margin-bottom: 30px;
}

#content p {
	margin: 15px 0;
}

.claim {
	font-size: 150%;
	width: 35%;
	margin: 15px 0;
}

.claim span {
	display: block;
	text-align: center;
}

.claim .a {
	color: rgb(19, 113, 185);
}

.claim .t {
	color: rgb(148, 192, 26);
}

.claim .s {
	color: rgb(133, 133, 133);
}

.authorize {
	float: right;
	width: 300px;
	margin-right: 50px;
}

.authorize img {
	display: block;
	margin: 0 0 5px;
}

.question {
	color: rgb(141, 180, 26);
	padding-left: 20px;
}

#content .separator, #sidebar .separator {
	border-bottom: 1px solid #ddd;
	margin: 20px 0 20px;
	height: 1px;
	line-height: 0;
	font-size: 0;
}

 #sidebar .separator {
	 border-color: #ccc;
 }

#content ol {
	margin-left: 25px;
	font-size: 120%;
	font-family: TitilliumBold;
}

#content ol>li {
	margin-bottom: 15px;
}

#content  ul {
	list-style: circle;
	margin-left: 10px;
	padding-left: 10px;
}

#content ol ul {
	font-size: 80%;
	font-family: TitilliumRegular;

}

#content table.modell {
	width: 100%;
	font-size: 90%;
	border-collapse: collapse;
	background-color: #fff;
	margin: 15px 0;
}

#content th, #content td {
	padding: 5px 10px;
	border: 1px solid #fff;
}

#content th {
	background-color: rgb(19, 113, 185);
	color: #fff;
	text-align: left;
	font-weight: normal;
}

#content td {
	width: 20%;
	background-color: rgb(176, 200, 230);
	vertical-align: top;
}

#content table.nostyle {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}

#content table.nostyle td {
	background-color: transparent;
	width: auto;
}



#content div.basis {
	margin: 0 0 5px;
	padding: 5px;
	text-align: center;
	background-color: rgb(148, 192, 26);
}

#content .asterisk {
	font-size: 80%;
}

#content a {
		color: rgb(164, 103, 42);
		text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
	color: rgb(209, 139, 70);	
}

#content h2 {
	font-size: 140%;
	margin-bottom: 15px;
}

#content .recht {
	font-size: 80%;
}

.teaser {
	padding: 20px;
	background-color: rgb(223, 227, 228);
	box-shadow: #999 0 0 8px 2px;
}

.teaser h2 {
	font-family: TitilliumRegaular, sans-serif;
	font-size: 140%;
	color: rgb(19, 113, 185);
	margin-bottom: 15px;
}

.teaser p {
	margin: 15px 0;
}

.teaser a.download {
	color: rgb(164, 103, 42);
	font-size: 120%;
	font-family: TitilliumRegular;
	transition:  1s ease;
	text-decoration: none;
	display: block;
	background-image: url(../img/download.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 5px 0 5px  35px;
}

.teaser a.download:hover {
	text-decoration: underline;
	color: rgb(209, 139, 70);
}

/* Downloads Buttons */
#content .button {
	display: block;
	width: 300px;
	background-color: #9ecf01;
	color: #fff;
	font: 100% "TitilliumRegular", sans-serif;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.5s ease-in;
}

#content .two {
	background-color: #3479ba;
}
#content .button span {
	color: #204000;
	font-size: 70%;
	display: block;
}

#content .two span {
	color: #a5c6e2;
}

#content .button:hover { text-decoration:none;
background-color: #7ca300;
}

#content .two:hover {
	background-color: #285e90;
}