@font-face {
    font-family: 'TitilliumLight';
    src: url('fonts/TitilliumText1.eot');
    src: url('fonts/TitilliumText1.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText1.woff') format('woff'),
         url('fonts/TitilliumText1.ttf') format('truetype'),
         url('fonts/TitilliumText1.svg#TeXGyreAdventorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumRegular';
    src: url('fonts/TitilliumText250wt.eot');
    src: url('fonts/TitilliumText250wt.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText250wt.woff') format('woff'),
         url('fonts/TitilliumText250wt.ttf') format('truetype'),
         url('fonts/TitilliumText250wt.svg#TeXGyreAdventorItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumSemi';
    src: url('fonts/TitilliumText400wt.eot');
    src: url('fonts/TitilliumText400wt.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText400wt.woff') format('woff'),
         url('fonts/TitilliumText400wt.ttf') format('truetype'),
         url('fonts/TitilliumText400wt.svg#TeXGyreAdventorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TitilliumBold';
    src: url('fonts/TitilliumText600wt.eot');
    src: url('fonts/TitilliumText600wt.eot?#iefix') format('embedded-opentype'),
         url('fonts/TitilliumText600wt.woff') format('woff'),
         url('fonts/TitilliumText600wt.ttf') format('truetype'),
         url('fonts/TitilliumText600wt.svg#TeXGyreAdventorBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

